[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "==4.12.2"
black = "==23.11.0"
click = "==8.1.7"
flake8 = "==6.1.0"
mccabe = "==0.7.0"
mypy-extensions = "==1.0.0"
pathspec = "==0.11.2"
platformdirs = "==4.0.0"
pycodestyle = "==2.11.1"
pyflakes = "==3.1.0"
soupsieve = "==2.5"
tomli = "==2.0.1"
typing-extensions = "==4.8.0"
python-dotenv = "*"

[requires]
python_version = "3.10"

[dev-packages]
